:root, :root[data-theme='dark']{
    --primary-collor: #FAD493;
    --primary-bg-collor: #1B1E3E;
    --secondary-bg-collor: #1D3052;
    --border-collor: #FAD493;
    --title-color: #FAD493;
    --text-color: #E3C170;
    --link-color: #E3C170;
    --icon-color:#FAD493;
    
}

:root[data-theme='light']{
    --primary-collor: #1B1E3E;
    --primary-bg-collor: #f9e6c6;
    --secondary-bg-collor: #FAD493;
    --border-collor: #1D3052;
    --title-color: #1D3052;
    --text-color: #1B1E3E;
    --link-color: #1B1E3E;
    --icon-color: #37596E;
}
html[data-theme='light'] .brand__logo{
    filter: invert(11%) sepia(26%) saturate(1463%) hue-rotate(197deg) brightness(92%) contrast(96%);
}

html[data-theme='dark'] .brand__logo{
    filter: invert(88%) sepia(29%) saturate(693%) hue-rotate(327deg) brightness(102%) contrast(96%);
}

html[data-theme='dark'] .skills__logo, .network__logo{
    filter: invert(85%) sepia(39%) saturate(483%) hue-rotate(331deg) brightness(101%) contrast(96%);
}

html[data-theme='light'] .skills__logo, .network__logo{
    filter: invert(31%) sepia(28%) saturate(642%) hue-rotate(159deg) brightness(94%) contrast(92%);}
