@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root, :root[data-theme='dark']{
    --primary-collor: #fdfaff;
    --primary-bg-collor: #382B3C;
    --secondary-bg-collor: #563560;
    --border-collor: #66496F;
    --title-color: #E1CDED;
    --text-color: #E1CDED;
    --link-color: #866F8D;
    --icon-color:#C390E1;
    
}

:root[data-theme='light']{
    --primary-collor: #382B3C;
    --primary-bg-collor: #E1CDED;
    --secondary-bg-collor: #E6D7EF;
    --border-collor: #EBE1F1;
    --title-color: #382B3C;
    --text-color: #563560;
    --link-color: #66496F;
    --icon-color: #866F8D;
}

html[data-theme='light'] .brand__logo{
    filter: invert(20%) sepia(11%) saturate(2833%) hue-rotate(241deg) brightness(99%) contrast(84%);
}

html[data-theme='dark'] .brand__logo{
    filter: invert(99%) sepia(54%) saturate(2014%) hue-rotate(185deg) brightness(94%) contrast(98%);
}

html[data-theme='dark'] .skills__logo, .network__logo{
    filter: invert(66%) sepia(29%) saturate(677%) hue-rotate(228deg) brightness(92%) contrast(90%);
}

html[data-theme='light'] .skills__logo, .network__logo{
    filter: invert(53%) sepia(7%) saturate(1183%) hue-rotate(241deg) brightness(85%) contrast(91%);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    color: var(--text-color);
}

body{
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-collor);
    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out .6s;

}

a {
    text-decoration: none;

}

a:hover{
    color: var(--primary-collor);
    font-weight: 600;
    cursor: pointer;
}

b{
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

h1{
    font-size: 2.5rem;
    color: var(--title-color);
}

.projects h2{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;

}

p{
    font-size: 1.25rem;
    text-align: justify;
}

i{
    color: var(--icon-color);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:  1rem;
}

.header__toggle{
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 10rem;

}

#toggleTheme{
    font-size: 1.8rem;
    color: var(--primary-collor);
    cursor: pointer;
    transition: ease-in-out .6s;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item{
    width: 100%;
}

.menu--mobile{
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 2px solid var(--border-collor);
    background-color: var(--primary-bg-collor);
    transition: ease-in-out .6s;
    z-index: 1;    
}

.menu--mobile .menu__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    gap: .5rem;

}

.menu__icon, .menu__text {
    color: var(--icon-color)
}

.menu__link.active .menu__icon,
 .menu__link.active .menu__text, 
 .menu__link:hover .menu__icon, 
 .menu__link:hover .menu__text{
    color: var(--primary-collor);
    font-weight: 600;
    transition: ease-in-out .6s;

}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.header__nav{
    display: none;
}

.menu--principal, .menu--social{
    gap: 2rem;
}

.network__logo {
    width: 3rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    padding: 0.87rem 1rem;
    transition: ease-in-out .3s;
    cursor: pointer;
    color: var(--primary-collor);
}

.btn span, .btn i{
    font-size: 1rem;
    text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-collor);
}

.btn--primary span{
    color: var(--primary-collor);
}

main, .projects{
    display: flex;
    flex-direction: column;
    padding:  1.5rem 2rem ;
}

.main__content1{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    gap: 2rem;
}


.skills, .certificacao {
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    padding: 3rem 1rem;
    gap: 3rem;

}

.skills h2, .certificacao h2{
    font-size: 2rem;
    text-transform: none;
    padding-bottom: 1.5rem;

}

.skills__list, 
.certificacao__list{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
    
}

.skills__item,
.certificacao__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 6rem;
    gap:1rem

}

.skills__logo {
    width: 4rem;
}

.certificacao__item {
    width: 15rem !important ;
}

.certificacao__logo{
    width: 8rem;

}

.projects{
    display: flex;
    flex-direction: column;

    
}

.project__card{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    background-color: var(--secondary-bg-collor);
    border-radius: 1rem;
}

.card__cover{
    width: 70vw;
    align-self: center;
    border-radius: 1rem 0;
    border: 4px solid var(--icon-color);
}

.card__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.card__title {
    font-size: 3.2rem;

}

.card__description, .card__list{
    font-size: 1.25rem;
    color: var(--title-color); 
}



.card__tec{
    display: flex;
    justify-content:flex-start;
    gap: .5rem;
}

.card__buttons {
    display: flex;
    flex-direction: row;
}




footer {
    margin-bottom: 2rem;
    flex-direction: column;
}
 
footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 5rem;
}

@media (min-width:768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 20rem;
        background: var(--secondary-bg-collor);
        z-index: 1;
      }
      .nav--mobile {
        display: none;
      }
    
      .header__nav {
        display: flex;
        justify-content: right;
        width: 70%;

      }
    
      .header__toggle {
        min-width: 5%;
        
      }
    
      h1 {
        font-size: 5rem;
      }
    
      h2 {
        font-size: 3rem;
      }
    
    .projects, .about {
        padding: 10rem 6rem 4rem 6rem;
      }
}
@media (min-width:1200px) {

    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    main {
        padding: 12rem 20rem 2rem;
    }

    .header {
        padding: 1rem 20rem;
    }

    .header__brand .brand__logo {
        width: 15vw;  
    }
    .menu--principal{
        display: flex;
        justify-content:end;

    }

    .menu__text {
        font-size: 1rem;
    }
    
    .main__content1 .btn {
        width: 20rem;
    }
  
    p,  i{
        font-size: 1,5rem;
    }



    .skills{
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 20rem 4rem;
    }

    .skills h2, .certificacao h2 {
        font-size: 3rem;
        width: 55%;
        padding-bottom: 3rem;
        
        }
    

    .skills__item{
        width: 10rem;

    }

    .skills__nome{
        font-size: 1.2rem;
    }

    .skills__logo {
        height: 5rem;
    }

    .certificacao {
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 20rem 4rem;  
        
        border: solid red 1px;
    }

    .certificacao__list {
        display: flex;
        flex-direction: row;


        justify-content: space-between;
        border: solid red 1px;
    }

    .certificacao__item {
        border: solid red 1px;
    }

    .project__card {
        flex-direction: row;
        gap: 2rem;
    }
    .card__cover {
        width: 50%;
    }

    .card_body{
        width: 100vw;


    }

    .card__body .card__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .card__body .card__buttons .btn {
        width:20vw;
    }
}


@media (min-width:1400px) {
    .header {
        padding: 1rem 20rem;   
    }

}