

.network__logo {
    width: 3rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    padding: .85rem 1rem;
    transition: ease-in-out .3s;
    cursor: pointer;
    color: var(--primary-collor);
}

.btn span, .btn i{
    font-size: 1rem;
    text-transform: uppercase;
}

.btn--primary {
    border: 2px solid var(--primary-collor);
}

.btn--primary span{
    color: var(--primary-collor);
}

main, .projects,  .about, .contact{
    display: flex;
    flex-direction: column;
    padding:  1.5rem 2rem ;
}

.main__content1{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    gap: 2rem;
}


.skills, .certificacao {
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    padding: 3rem 1rem;
    gap: 3rem;
}

.skills h2, .certificacao h2{
    font-size: 2rem;
    text-transform: none;
    padding-bottom: 1.5rem;

}

.skills__list, 
.certificacao__list{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
    
}

.skills__item,
.certificacao__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 6rem;
    gap:1rem
}

.skills__logo {
    width: 4rem;
}

.certificacao__item {
    width: 15rem !important ;
}

.certificacao__logo{
    width: 8rem;

}

.projects{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center ;
    padding: 3rem 0; 
}

.project__card{
    display:flex;
    flex-direction: column;
    width: 70vw;
    gap: 2rem;
    padding: 3rem;
    background-color: var(--secondary-bg-collor);
    border-radius: 1rem;
}

.card__cover{
    width: 70vw;
    align-self: center;
    border-radius: 1rem 0;
    border: 4px solid var(--icon-color);
}

.card__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__text{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    padding-right: 2rem;
    gap: 1rem;
    width: 100%;
}

.card__title {
    font-size: 1.5rem;
    font-weight:400;

}

.card__description, .card__list{
    font-size: 1.25rem;
    color: var(--title-color); 
}



.card__tec{
    display: flex;
    justify-content:flex-start;
    gap: .5rem;
}

.card__buttons {
    display: flex;
    flex-direction: row;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
.about__content__1, .about__content__2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }
  
.about__photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 50rem;
    border: 1px solid var(--primary-border-color);
    
  }
  
.about__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
  }

.about__icons__box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
  
.about__icons {
    display: flex;
    align-items: center;
    gap: .85rem;
  }
  
.about__icons i {
    font-size: 2.5rem;
  }

.description {
    font-size: 1rem;
  }

.experience__title {
    font-weight: 400;
  }

.experience__list {
    font-weight: 350;
  }

.courses {
    border-radius: .5rem;
}

.accordion__item{
    display: flex;
    margin-bottom: .75rem

}

.accordion__header {
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    border: 1px solid var(--icon-color);
    border-radius: .5rem;
    background: var(--secondary-bg-collor);
    text-align: left;
    cursor: pointer;
    transition: ease-in-out .3s;
    gap: 1rem
  }


.accordion__body {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border: 1px solid var(--icon-color);
    border-radius: 0 0 .5rem .5rem;
    }

.accordion__body p{
        font-size: 1rem;
    }
.accordion__item summary {
        list-style: none;
    }
    
.accordion__item summary i {
        display: inline-block;
        transition: transform 0.3s ease; 
    }
    
.accordion__item[open] summary i {
        transform: rotate(180deg);
    }

.accordion__item[open] .accordion__header{
        border-radius: .5rem .5rem 0 0;
        transition: 0;
    }
.contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact_network {
    display: flex;
    justify-content: space-between;
}

.contact img {
    width: 2.5rem;
}

.contact i{
    font-size: 1.5rem;
}



footer {
    margin-bottom: 2rem;
    flex-direction: column;
}
 
footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 5rem;
}

@media (min-width:768px) {  
    .projects, .about {
        padding: 10rem 6rem 4rem 6rem;
    }

    .contact {
        padding: 0rem 6rem 4rem 6rem
    }

    
    .experience__title {
        font-size: 1.5rem;
        font-weight: 400;
      }

}


@media (min-width: 992px) {
    .projects__card {
      flex-direction: row;
    }
  
    .projects__card.card--reverse {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    
    .card__cover {
      width: 55%;
    }
  
    .about {
      gap: 5rem;
    }
  
    .about__content1, .about__content2 {
      display: grid;
      grid-template-columns: 34% 60%;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4rem;
    }
  
    .about__description h2 {
      text-align: left;
    }
  
    .description__buttons {
      justify-content: flex-start;
    }
  }

  .contact_network {
    display: flex;
    justify-content:flex-start;
    gap: 3rem;
}

  
@media (min-width:1200px) {   
    .main__content1 .btn {
        width: 20rem;
    }

    .skills{
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 20rem 4rem;
    }

    .skills h2, .certificacao h2 {
        font-size: 3rem;
        width: 55%;
        padding-bottom: 3rem;    
    }

    .skills__item{
        width: 10rem;
    }

    .skills__nome{
        font-size: 1.2rem;
    }

    .skills__logo {
        height: 5rem;
    }

    .certificacao {
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 20rem 4rem;  
    }

    .certificacao__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .projects h2{
        font-size: 4rem;
    }
    .project__card {
        flex-direction: row;
        gap: 2rem;
    }
    .card__cover {
        width: 50%;
    }

    .card_body{
        width: 100vw;
    }

    .card__body .card__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .card__body .card__buttons .btn {
        width:12vw;
    }

    .about__content__1, .about__content__2{
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }
}


@media (min-width:1400px) {
    .header {
        padding: 1rem 20rem;   
    }

}